# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Large local tools / programs
my-large-tool/
installed_programs/


next.config.mjs
